@model DoCeluNaCzas.Models.ViewModels.Index.MarkerModel[]


<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
            width: 100%;
            left: 0;
            position: absolute;
            top: 0;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            width: 100%;
            margin: 10px;
            margin-right: 0px;
            padding-top: 16px;
            margin-left: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    </style>
</head>





<body>
    <div id="map"></div>
    <script>



        var map, mgr;


        function initMap() {
            // var x = 54.35202520000001;
            // var y = 18.64663840000003;
            var myLatLng = { lat: -34.397, lng: 150.644 };
            var pos = { lat: 54.35202520000001, lng: 18.64663840000003 };
            var infowindow = new google.maps.InfoWindow;
            var contentMessage = "Annyeong";
            var infoWindow = new google.maps.InfoWindow();


                    map = new google.maps.Map(document.getElementById('map'), {
                        center: pos,
                        zoom: 17
                    });

                     @foreach(var item in Model) {

                    var lat = item.StopLat.ToString().Replace(",", ".");
                    var lon = item.StopLon.ToString().Replace(",", ".");
                    var desc = item.StopDesc;
                    var heading = item.StopHeading.ToString();
                    var lines = item.StopBusLines.ToString();

                    <text>

                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(@lat, @lon),
                            map: map,
                            title: "@desc"

                        });

                        google.maps.event.addListener(marker, 'click', function () {
                            infoWindow.setContent("<p><b>Przystanek:  </b></p>" + "@desc" + "<br/><br/>" + "<p><b> Linie: </b></p>" + "@lines" + "<br/><br/>" + "<p><b> Kierunek: </b></p>" + "@heading.Replace("1.07","")");
                            infowindow.setPosition(event.latLng);
                            infoWindow.open(map, this);

                        });

                     </text>

                      }

        }





    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSLU7KJgQa4Ti9Avqoby1xAbL1KZEOyBU&callback=initMap"
            async defer></script>
</body>
</html>
