@model DoCeluNaCzas.Models.ViewModels.Index.IndexModel
@{var spot = Model; }

    <div class="row ">
        <div class="col-md-6 overlap">


            @using (Html.BeginForm("MainFormSearchRoute", "MainPageForm", FormMethod.Post))
            {
                <div class="row ">
                    <div class="col-md-6 overlap">

                            <div class="form-group">
                                @{
                                    ViewData["StopIdFrom"]  = new List<SelectListItem>(from e in spot.SpotsListIndex select new SelectListItem { Selected = true, Text = Convert.ToString(e.StopDesc), Value = Convert.ToString(e.StopId) });

                                    var sortedListFrom = listStopsFrom.OrderBy(x => x.Text).ToList();



                                    List<SelectListItem> listStopsTo = new List<SelectListItem>(from e in spot.SpotsListIndex select new SelectListItem { Selected = true, Text = Convert.ToString(e.StopDesc), Value = Convert.ToString(e.StopId) });

                                    var sortedListTo = listStopsTo.OrderBy(x => x.Text).ToList();
                                }

                                @Html.DropDownList("SelectFrom", sortedListFrom)

                                @Html.DropDownList("SelectTo", sortedListTo)

                            </div>
  
                            <div>
                                <div class="btn-group btn-group-toggle time-label" data-toggle="buttons">
                                    <label class="btn btn-secondary active" id="arrival">
                                        Przyjazd @Html.RadioButton("Option", "Arrival")

                                    </label>
                                    <label class="btn btn-secondary" id="departure">
                                        Odjazd @Html.RadioButton("Option", "Departure")
                                    </label>
                                </div>
                                <div class="clock">

                                    <!--Html.EditorFor(model => model.DateClock, new { class = "clockProperties" })-->
                                </div>
                            </div>

                            <div class="buttonRoute" id="buttonPanel">
                                    <input type="submit" class="btn btn-primary" id="searchRouteButton" value="Ok" />
                                
                            </div>

                    </div>

                </div>


            }

        </div>


    </div>
