@model DoCeluNaCzas.Models.ViewModels.Index.SearchRouteFieldsModel[]
@{var spot = Model; }

<div class="form-group">



    @{
        List<SelectListItem> listStops = new List<SelectListItem>(from e in spot select new SelectListItem { Selected = true, Text = Convert.ToString(e.StopDesc), Value = Convert.ToString(e.StopId) });

        var sortedListFrom = listStops.OrderBy(x => x.Text).ToList();

        var sortedListTo = listStops.OrderBy(x => x.Text).ToList();
    }

    @Html.DropDownList("-- Select From --", sortedListFrom)

    @Html.DropDownList("-- Select To --", sortedListTo)


    <!-- <input type="text" id="input_from" name="input_from" class="form-control" placeholder="Od" /> -->
</div>