@{ViewBag.Title = "Home Page";}
@model DoCeluNaCzas.Bussiness.Models.Marker[]

@{ 

    if (IsPost)
    {
        string input_from = Request.Form["input_from"];
        string input_to = Request.Form["input_to"];

        <text>

            Input From : @input_from <br/>
            Input To : @input_to  <br/>

        </text>
    }

}



<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
            width: 100%;
            left: 0;
            position: absolute;
            top: 0;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            width: 100%;
            margin: 10px;
            margin-right: 0px;
            padding-top: 16px;
            margin-left: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map, infoWindow, mgr;


        function initMap() {
            // var x = 54.35202520000001;
            // var y = 18.64663840000003;
            var myLatLng = { lat: -34.397, lng: 150.644 };
            var infowindow = new google.maps.InfoWindow;
            var contentMessage = "Annyeong";


            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: pos,
                        zoom: 17
                    });

                    var image = {
                        url: 'https://png.icons8.com/nolan/2x/marker.png'

                    };

                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        draggable: false,
                        title: "You're here!",
                        icon: image
                    });

                    function addInfoWindow(marker, contentMessage) {

                        var infoWindow = new google.maps.InfoWindow({
                            content: "Annyeong"
                        });

                        google.maps.event.addListener(marker, 'click', function () {
                            infoWindow.open(map, marker);
                        });

                    }

                    addInfoWindow(marker);

                     @foreach(var item in Model) {

                    var lat = item.StopLat.ToString().Replace(",", ".");
                    var lon = item.StopLon.ToString().Replace(",", ".");
                    var desc = item.StopDesc;

                    <text>

                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(@lat, @lon),
                            map: map,
                            title: "@desc"
                        });





                     </text>

                      }



                    //infowindow.setPosition(pos);
                    //infowindow.setContent('Location found.');
                    //infowindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
            //}

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHj8Bd4gycuHbJCZ-gH2vQQckyfGIfsF8&callback=initMap"
            async defer></script>
</body>
</html>

<div class="row ">
    <div class="col-md-6 overlap">
        <form method="post" >
            <div class="form-group">
                <input type="text" id="input_from" name="input_from" class="form-control" placeholder="Od" />
            </div>
            <div class="form-group">
                <input type="text" id="input_to" name="input_to" class="form-control" placeholder="Do" />
            </div>

            <div>
                <div class="btn-group btn-group-toggle time-label" data-toggle="buttons">
                    <label class="btn btn-secondary active" id="arrival">
                        <input type="radio" name="options" autocomplete="off" checked> Przyjazd
                    </label>
                    <label class="btn btn-secondary" id="departure">
                        <input type="radio" name="options" autocomplete="off"> Odjazd
                    </label>
                </div>
                <div class="">
                    <!--<input type="date" class="form-control"/>-->
                    <input type="time" class="form-control clock" id="clock" />
                </div>
            </div>



            <div class="form-group">
                <a class="" role="button" data-toggle="collapse" href="#optionPanel" aria-expanded="false" aria-controls="optionPanel" id="optionCollapse">
                    <strong>Opcje</strong>
                </a>


                <div class="collapse " id="optionPanel">
                    <div class="means-of-transport-container">
                        <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            <img src="https://svgsilh.com/svg/309520.svg" id="tramIcon" class="">

                        </div>
                        <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            <img src="https://svgsilh.com/svg/2027077.svg" id="busIcon" class="">

                        </div>
                        <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            <img src="https://svgsilh.com/svg/310470.svg" id="trainIcon" class="">

                        </div>
                        <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            <img src="https://svgsilh.com/svg/309520.svg" id="tribusIcon" class="">

                        </div>
                    </div>
                    <div>
                        <input type="checkbox" value="true" name="avoid_change">
                        <label>Unikaj przesiadek</label>

                    </div>
                </div>
                <div class="buttonRoute" id="buttonPanel">
                    <input type="submit" class="btn btn-primary" id="searchRouteButton" value="Ok" />
                </div>
            </div>

        </form>
    </div>



    <div class="col-md-6">

    </div>
</div>
