 @{
    ViewBag.Title = "Home Page";
}

<div class="row ">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <input type="text" id="input_from" name="from" class="form-control" placeholder="Od" />
            </div>
            <div class="form-group">
                <input type="text" name="to" class="form-control" placeholder="Do" />
            </div>
          
            <div>
                <div class="btn-group btn-group-toggle time-label" data-toggle="buttons">
                    <label class="btn btn-secondary active" id="arrival">
                        <input type="radio" name="options" autocomplete="off" checked> Przyjazd
                    </label>
                    <label class="btn btn-secondary" id="departure">
                        <input type="radio" name="options" autocomplete="off"> Odjazd
                    </label>
                </div>
                <div class="">
                    <!--<input type="date" class="form-control"/>-->
                    <input type="time" class="form-control clock" id="clock" />
                </div>
            </div>
                
            
           
            <div class="form-group">
                <a class="" role="button" data-toggle="collapse" href="#optionPanel" aria-expanded="false" aria-controls="optionPanel">
                    Opcje
                </a>


                <div class="collapse " id="optionPanel">
                    <div class="means-of-transport-container">
                        <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            <img src="https://svgsilh.com/svg/309520.svg" id="train_icon" class="">

                        </div>
                        <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            <img src="https://svgsilh.com/svg/2027077.svg" id="train_icon" class="">

                        </div>
                        <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            <img src="https://svgsilh.com/svg/310470.svg" id="train_icon" class="">

                        </div>
                        <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            <img src="https://svgsilh.com/svg/309520.svg" id="train_icon" class="">

                        </div>
                    </div>
                    <div>
                        <input type="checkbox" value="true" name="avoid_change">
                        <label>Unikaj przesiadek</label>
                        <div class="buttonRoute" id="buttonPanel">
                            <button type="button" class="btn btn-primary">Ok</button>
                        </div>
                    </div>
                    </div>

            </div>

               
               
           
        </form>
    </div>



    <div class="col-md-6">

    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>