@model DoCeluNaCzas.Models.ViewModels.Index.IndexModel

@{ViewBag.Title = "Home Page";}

@{
    Html.RenderPartial("Partials/_IndexMap", Model.MarkerArrayIndex);
}

<div class="row ">
    <div class="col-md-6 overlap">


        @using (Html.BeginForm("MainFormSearchRouteSpots", "MainPageForm", FormMethod.Post))
        {

            Html.RenderPartial("Partials/_IndexFormSpots", Model.SpotsArrayIndex);

        }

        @using (Html.BeginForm("MainFormSearchRoute", "MainPageForm", FormMethod.Post))
        {
            //<form method="post" action="@Url.Action("MainFormSearchRoute","MainPageForm")">


            Html.RenderPartial("Partials/_IndexFormResfOfView", Model.MainPageFormIndex);

            // </form>
        }
    </div>



    <div class="col-md-6">

    </div>
</div>





