body {
    padding-top: 80px !important;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.margin-top-bottom {
    margin: 5% 0;
}

.search-route-container {
    top: 20%;
    position: relative;
    background: white;
    box-shadow: 2px 2px 5px #ccc;
    border: 1px solid #ccc;
    /*margin-top: 2%;*/
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.form-control:focus,
.form-control:active:focus,
.form-control.active:focus,
.form-control.focus,
.form-control:active.focus,
.form-control.active.focus,
.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none !important;
}


.btn-radio {
    color: #007b7d;
    background-color: white;
    background-image: none;
    border-color: #007b7d;
}

.radio-buttons .btn-radio {
    width: 49%;
}

.btn-radio:hover, .btn-radio:active, .btn-radio:focus, .btn-radio.active {
    background-color: #007b7d;
    color: white;
}

.btn-radio.active {
    font-weight: bold;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-turquoise {
    background-color: #007b7d;
    color: white;
    width: 100%;
}

.btn.btn-turquoise:hover,
.btn.btn-turquoise:focus,
.btn.btn-turquoise.focus {
    color: white !important;
    background-color: #046669 !important;
}

#searchRouteBtn {
    margin-top: 10px;
    color: white;
}

    #searchRouteBtn:hover {
        color: white !important;
        background-color: #046669 !important;
    }

.col-border {
    border-left: 1px solid #ccc;
}

.timetable-container {
    padding: 20px;
    top: 20%;
    /*text-align:center;*/
}

.search-timetable {
    margin: 10px 0 20px;
}

.collapse-header {
    color: #007b7d;
}


a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

.transport-pick {
    padding: 5px 10px;
}

.means-of-transport-collapse-container {
    margin: 10px 0;
}

.bus-collapse {
    display: block;
    overflow: auto;
    height: 200px;
}

.btn-radio-timetable {
    background-color: white;
    background-image: none;
}

    .btn-radio-timetable:hover, .btn-radio-timetable:active, .btn-radio-timetable:focus, .btn-radio-timetable.active {
        background-color: #007b7d;
        color: white;
    }

    .btn-radio-timetable.active {
        font-weight: bold;
    }

.chosen-transport-title {
    margin: 2% 5% 20px;
}

.panel-timetable {
    background-color: #007b7d !important;
    color: white;
    width: 100% !important;
    padding: 2px;
    border-radius: 0;
}

.panel-heading-direction {
    margin-left: 2%;
}

.no-padding-col {
    padding: 0;
}

.checkmark {
    left: 0;
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid #046669;
    margin: 4px 10px 0;
}

/*.container-stops {
    margin-top: 5%;
}*/

.container-stops-list {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .container-stops-list input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .container-stops-list:hover input ~ .checkmark {
        background-color: #bcced1;
    }

    /* When the radio button is checked, add a blue background */
    .container-stops-list input:checked ~ .checkmark {
        background-color: #007b7d;
    }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-stops-list input:checked ~ .checkmark:after {
    display: block;
}

.btn.btn-radio-stop {
    text-align: left !important;
}

.stop-name {
    margin-left: 10px;
}

.stop-name {
    margin-left: 30px;
}

.panel.panel-timetable {
    width: 100%;
}

.tab {
    overflow: hidden;
}

    .tab input[type="button"] {
        background-color: inherit;
        float: left;
        left: 0;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        padding: 12px 15px;
        width: 50%;
        color: white;
    }

        /* Change background color of buttons on hover */
        .tab input[type="button"]:hover {
            background-color: #046669;
        }

        /* Create an active/current tablink class */
        .tab input[type="button"].active {
            background-color: #046669;
        }

.panel-timetable#panelTimetable {
    padding: 0 !important;
}

.panel-tabs .panel-heading {
    margin-left: 0 !important;
    padding: 0;
}

.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border-top: none;
    margin: auto;
}

.delays-table, .timetable-table {
    width: 100%;
    text-align: center;
    /*margin: auto;*/
    margin-top: 5px;
}

td .delays-row {
    border-bottom: 1px solid #000;
    margin-top: 10px;
}

#delaysTable .row-content, #timetableTable .row-content {
    border-bottom: 1px solid black;
    font-size: 17px;
}

.row-content {
    display: flex;
    align-items: center;
}

.delays-row {
    padding: 4px 2px 1px;
}

.hours {
    float: left;
    width: 30px;
    /*font-size: 17px;*/
    border-right: 2px dotted #000;
    line-height: 22px;
    text-align: center;
    /*border-bottom: 1px solid #000;*/
    clear: both;
    /*margin-bottom: 2px;*/
    padding: 2px;
    font-weight: bold;
}

.minutes {
    float: left;
    display: flex;
    margin-left: 10px;
    width: 35px;
    padding: 2px;
}

.headers .header:first-child {
    width: 15%;
    text-align: center;
    padding: 4px 2px 1px;
}

.headers .header:nth-child(2) {
    width: 60%;
    text-align: center;
    padding: 4px 2px 1px;
}

.headers .header:nth-child(3) {
    width: 20%;
    text-align: center;
    padding: 4px 2px 1px;
}

.container-stops .btn.active,
.container-stops .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #dddddd;
}

.navbar-inverse .navbar-brand {
    color: #dddddd;
}

.add-margin {
    margin-right: 15px !important;
}

body i {
    font-family: 'Font Awesome 5 Free' !important;
}

.accordion-toggle:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /*content: "\f0d7";*/
    padding-left: 5px;
}

.accordion-toggle.collapsed:after {
    /*content: "\f0da";*/
}

.collapse-transport i {
    margin-left: 5px;
}
.navbar-inverse .navbar-toggle {
    border-color: #005f60;
}

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #005f60;
        border-color: #005f60;
    }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #005f60;
}

.week-name {
    margin: 60px 0 25px 0;
    font-size: 20px;
    text-transform: uppercase;
}

.btnHide {
    display: none;
}

.btnShow {
    display: block;
}

.mar-bottom {
    margin-bottom: 30px;
}

.search-timetable-btn {
    width: 50%;
    text-align: center;
    margin: 20px auto;
}

.date-box {
    width: 70%;
    float: left;
}

.clock-box {
    width: 30%;
}

.align-center {
    text-align: center;
}

.routes-table-container table {
    /*margin: 20px auto;*/
}

.panel-container-stop-info {
    display: flex;
    align-items: center;
}

.panel-container {
    background: rgb(247, 228, 168);
    padding: 5px 15px;
    margin: 10px 0;
}

    .panel-container h4, .panel-container h5 {
        font-weight: bold;
        display: inline-block;
        font-size: 14px;
    }

.float-left h5 {
    display: block;
}

.panel-container-stop-info h4:nth-child(1) {
    border-right: 1px solid #3d3d3d;
    padding-right: 20px;
}

.panel-container h4:nth-child(2) {
    margin: 0 20px;
}

.panel-container h4:nth-child(3) {
    margin-left: auto;
    font-size: 15px;
}

.panel-title {
    border-bottom: 1px solid rgba(0,0,0,.3);
    margin-bottom: 30px;
}

@media (min-width: 576px) {
    .panel-container h4, .panel-container h5 {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .search-route-container {
        width: 100%;
    }

    .panel-container h4 {
        font-size: 16px !important;
    }

    .panel-container h4:nth-child(3) {
        font-size:20px !important;
    }
}

@media (min-width: 992px) {
    .panel-container h4 {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .col-lg-4 {
        width: 33.333333% !important;
    }

    .tabcontent {
        width: 70%;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1570px !important;
    }

    .col-xl-3 {
        width: 25% !important;
    }

    .col-xl-4 {
        width: 33.333333% !important;
    }
}



* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 100%;
}

/*input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

    input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
    }

    input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
    }*/

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #d4d4d4 !important;
    color: #000;
}

#dropdownFrom, #dropdownTo {
    display: none;
}

.line-btn {
    margin: 20px 0;
}

.route-info {
    cursor: pointer;
}

.fa-caret-down {
    transition: .3s transform ease-in-out;
}

.collapsed .fa-caret-down {
    transform: rotate(-180deg);
}

.panel-container-route-info {
    margin-top: 70px;
}
