@model DoCeluNaCzas.Models.ViewModels.Index.MainPageForm


<h2>MainFormSearchRoute</h2>

@Html.DisplayFor(model => model.AvoidChange)
@Html.DisplayFor(model => model.BusCheckBox)
@Html.DisplayFor(model => model.DateClock)