@model DoCeluNaCzas.Models.Index.MainPageForm
@{
    ViewBag.Title = "MainFormSearchRoute";
}

<h2>MainFormSearchRoute</h2>

@Html.DisplayFor(model => model.InputFrom)
@Html.DisplayFor(model => model.InputFor)